@import "../../../styles/variables"

.review-tab
    width: 70%
    height: auto
    background-color: #F7F7F7
    margin: auto
    margin-bottom: $m16mob

    .review-upper
        width: 90%
        height: auto
        display: flex
        align-items: center
        justify-content: space-between

        .review-name
            width: 90%
            display: flex
            align-items: center
            margin: auto
            margin-top: $m16mob

            .circle
                width: 25px !important
                height: 25px !important
                background-color: red
                border-radius: 50px

            .client-name
                color: $black
                text-align: right
                font-family: Inter
                font-size: $font18mob
                font-style: normal
                font-weight: 400
                line-height: normal
                text-transform: capitalize
                margin-left: $m8mob

    .client-review
        width: 90%
        color: $black
        font-family: Inter
        font-size: $font14mob
        font-style: normal
        font-weight: 400
        line-height: 146%
        text-transform: capitalize
        margin: auto
        margin-top: $m16mob
        margin-bottom: $m16mob !important
        // border: 20px solid red

.reviews-swiper
    width: 100%
    height: auto

    .swiper-button
        background-color: $orange
