@import "../../../../styles/variables"

.bread-dots
    display: flex
    align-items: center
    justify-content: flex-start

    .link
        color: $black
        font-family: Inter
        font-size: $font18mob
        font-style: normal
        font-weight: 400
        line-height: 137.4%
        text-decoration: none

    .orange
        color: $orange

    .circle
        width: clamp(2.5px,1.1682vw,10px)
        height: clamp(2.5px,1.1682vw,10px)
        border-radius: 10px
        background-color: $black
        margin-left: $m8mob
        margin-right: $m8mob

    .circle-orange
        width: clamp(2.5px,1.1682vw,10px)
        height: clamp(2.5px,1.1682vw,10px)
        border-radius: 10px
        background-color: $orange
        margin-left: $m8mob
        margin-right: $m8mob

.car-heading
    width: 80%
    color: $orange
    font-family: Lato
    font-size: clamp(16px,7.47648vw,64px)
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: capitalize

.car-heading-s
    width: 80%
    color: $orange
    font-family: Lato
    font-size: clamp(14px,6.541919999999999vw,56px)
    font-style: normal
    font-weight: 600
    line-height: normal
    text-transform: capitalize

.black
    color: $black

.car-paragraph
    color: $black
    font-family: Inter
    font-size: $m16mob
    font-style: italic
    font-weight: 400
    line-height: 137.4%

.button-row
    display: flex
    align-items: flex-start
    flex-direction: column

.price
    color: $orange
    font-family: Lato
    font-size: $font17mob
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: capitalize

.request-table
    width: 90%
    height: auto
    border: 3px solid $orange
    margin-top: $m32mob

.car-swiper
    width: 100%
    height: auto
