@import "./variables"

*
    margin: 0
    padding: 0
    box-sizing: border-box

#root
    width: 100%
    height: auto

.screen
    width: 100%
    height: auto
    display: flex
    flex-direction: column

.heading-container
    display: flex
    flex-direction: column

.align-start
    align-items: flex-start !important

.align-center
    align-items: center !important

.main-heading
    color: $black
    font-family: Lato
    font-size: $font36mob
    font-style: normal
    font-weight: 800
    line-height: normal
    text-transform: capitalize

.heading-s
    color: $black
    font-family: Lato
    font-size: $font32mob
    font-style: normal
    font-weight: 800
    line-height: normal
    text-transform: capitalize

.heading-third
    color: $orange
    font-family: Lato
    font-size: clamp(14px,6.541919999999999vw,56px)
    font-style: normal
    font-weight: 700
    line-height: 146%

.heading-fourth
    color: $black
    text-align: right
    font-family: Lato
    font-size: clamp(13.5px,6.30828vw,54px)
    font-style: normal
    font-weight: 400
    line-height: normal
    text-transform: capitalize

.content
    width: 90%
    height: auto
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    margin: auto

.sub-heading
    color: $black
    font-family: Lato
    font-size: $font17mob
    font-style: normal
    font-weight: 400
    line-height: normal
    text-transform: capitalize

.text-center
    text-align: center

.paragraph
    color: $black
    font-family: Inter
    font-size: clamp(8.5px,3.9718799999999996vw,34px)
    font-style: normal
    font-weight: 400
    line-height: 144%

.small-text
    color: $black
    text-align: right
    font-family: Lato
    font-size: clamp(11px,5.140079999999999vw,44px)
    font-style: normal
    font-weight: 400
    line-height: normal
    text-transform: capitalize

.gray
    background: rgba(217, 217, 217, 0.20)

.right
    float: right

.white-bg
    background-color: $white !important

.white
    color: $white

.orange
    color: $orange

.orange-bg
    background-color: $orange

.white-bg
    background-color: $white

.mt8
    margin-top: $m8mob

.mt16
    margin-top: $m16mob

.mt32
    margin-top: $m32mob !important

.mt48
    margin-top: clamp(24px,11.21472vw,96px)

.mt64
    margin-top: $m64mob

.mb64
    margin-bottom: $m64mob

.mt128
    margin-top: $m128mob

.mb64
    margin-bottom: $m64mob

.items-end
    align-items: flex-end

.items-start
    align-items: start

.w90
    width: 90%

.w80
    width: 80%

.w60
    width: 60%

.w50
    width: 50%

.w40
    width: 40%

.w30
    width: 30%

.content-pc
    display: none

@media screen and  (min-width: 1024px)

    .mt8
        margin-top: $m8

    .mt16
        margin-top: $m16

    .mt32
        margin-top: $m32 !important

    .mt48
        margin-top: clamp(24px,11.21472vw,96px)

    .mt64
        margin-top: $m64

    .mb64
        margin-bottom: $m64

    .mt128
        margin-top: $m128 !important

    .mb64
        margin-bottom: $m64

    .content
        display: none

    .content-pc
        width: 86.45833333333333%
        height: auto
        margin: auto
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: auto

        .text-content
            width: auto
            display: inline-flex
            flex-direction: column
            align-items: flex-start

        .paragraph
            color: $black
            font-family: Inter
            display: inline-block
            font-size: $font20
            font-style: normal
            font-weight: 400
            line-height: 144%

        .main-heading
            color: $black
            font-family: Lato
            display: inline-block
            font-size: clamp(35px,3.6456vw,140px)
            font-style: normal
            font-weight: 800
            line-height: normal
            text-transform: capitalize

        .sub-heading
            color: $black
            font-family: Lato
            font-size: clamp(10.5px,1.09368vw,42px)
            font-style: normal
            font-weight: 400
            line-height: normal
            text-transform: capitalize

        .button-row
            width: 61%
            display: inline-flex
            flex-direction: row
            align-items: flex-end
            justify-content: space-between

        .pc-img
            width: clamp(295px,30.7272vw,1180px)
            height: clamp(345px,35.9352vw,1380px)
