@import "../../../styles/variables"

.rates-tab
    display: flex
    flex-direction: column

    .rate-text
        color: $orange
        font-family: Lato
        font-size: $font16mob
        font-style: normal
        font-weight: 500
        line-height: normal
        text-transform: capitalize
        float: right
        text-align: right
        margin-bottom: $m8mob

    .rate-name
        color: $black
        font-family: Lato
        font-size: $font22mob
        font-style: normal
        font-weight: 500
        line-height: normal
        text-transform: capitalize
        margin-top: $m8mob

    .rate-price-hour, .rate-price-mile
        color: $orange
        font-family: Lato
        font-size: $font16mob
        font-style: normal
        font-weight: 500
        line-height: normal
        text-transform: capitalize
        margin-top: $m16mob
