@import "../../../styles/variables"

.request-table
    width: 100%
    border: 3px solid $orange

.request-table
    width: 100%
    border-collapse: collapse

.request-header
    color: $black
    font-family: Lato
    font-size: $font18mob
    font-style: normal
    font-weight: 600
    line-height: normal
    text-transform: uppercase
    text-align: center
    font-weight: bold
    background: rgba(255, 87, 34, 0.10)
    padding-top: $m16mob
    padding-bottom: $m16mob

.request-data
    color: $black
    font-family: Lato
    font-size: $font16mob
    font-style: normal
    font-weight: 600
    line-height: normal

.request-row-main
    width: 100%
    display: table-row
    text-align: center
    border: 3px solid $orange
    background: rgba(255, 87, 34, 0.10)

    .request-data
        width: 100%
        border: none
        padding-top: $m32mob
        padding-bottom: $m32mob !important

.request-row-add
    width: 100%
    display: table-row
    text-align: center
    border: 3px solid $orange

    .request-data
        width: 100%
        border: none
        padding-top: $m32mob
        padding-bottom: $m32mob !important
