@import "../../../styles/variables"

.service-tab
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

    .heading-fourth
        color: $orange
        text-align: right
        font-family: Lato
        font-size: clamp(12.5px,5.840999999999999vw,50px)
        font-style: normal
        font-weight: 500
        line-height: normal
        text-transform: capitalize

    .service-description
        color: $black
        font-family: Inter
        font-size: $font16mob
        font-style: normal
        font-weight: 400
        line-height: 146%
        text-transform: capitalize
        text-align: center

    .scroll-link
        width: clamp(130px,60.746399999999994vw,520px)
        height: $m64mob
        font-family: Inter
        font-size: $font22mob
        font-style: normal
        font-weight: 400
        line-height: normal
        display: flex
        align-items: center
        justify-content: center
        background-color: $black
        color: $orange
