@import "../../../styles/variables"

.charter-rates
    width: 100%
    border-collapse: collapse
    margin-top: $m32mob

    .table-heading
        width: 100%
        color: $black
        font-family: Lato
        font-size: $font18mob
        font-style: normal
        font-weight: 600
        line-height: normal
        text-transform: capitalize
        background: rgba(255, 87, 34, 0.10)

        .table-heading-text
            padding-top: $m16mob
            padding-left: $m16mob
            padding-bottom: $m16mob
            border: 3px solid $orange

    .rate-row
        width: 100%
        color: $black
        font-family: Lato
        font-size: $font16mob
        font-style: normal
        font-weight: 600
        line-height: normal
        text-transform: capitalize
        background: rgba(255, 87, 34, 0.10)

        .td
            padding-top: $m32mob
            padding-bottom: $m32mob
            text-align: center
            border: 3px solid $orange

    .rate-row-white
        width: 100%
        color: $black
        font-family: Lato
        font-size: $font16mob
        font-style: normal
        font-weight: 600
        line-height: normal
        text-transform: capitalize

        .td
            padding-top: $m32mob
            padding-bottom: $m32mob
            text-align: center
            border: 3px solid $orange

            .td-low
                padding-top: $m32mob
                text-align: center
